<div

  [ngClass]="this.User.completed ? 'completed' : 'uncompleted'"
>
  <div class="comp">
    <h4
      style="padding: 5px; background-color: black; color: white"
      (click)="tasks_posts(User._id)"
    >
      {{ User._id }}
    </h4>
    <br />
    <form #f="ngForm" (ngSubmit)="form_submit(f.valid)">

      Name :
      <input required type="text" name="User_Name" [(ngModel)]="User.Name" />
      <br /><br />

      Email :
      <input required type="text" name="User_Email" [(ngModel)]="User.Email" />
      <br /><br />

      <input
        type="button"
        value="detailed..."
        class="detailed"
        (click)="detailed()"
      />

      <br /><br />
      <div *ngIf="_detailed">
        Street :
        <input
          required
          placeholder="required..."
          type="text"
          name="User_Street"
          [(ngModel)]="User.Street"
        />
        <br /><br />

        City :
        <input
          required
          placeholder="required..."
          type="text"
          name="User_City"
          [(ngModel)]="User.City"
        />
        <br /><br />

        Zipcode :
        <input
          required
          placeholder="required..."
          minlength="5"
          maxlength="5"
          type="text"
          name="User_Zipcode"
          [(ngModel)]="User.Zipcode"
        />
        <br /><br />
      </div>

      <input type="submit" value="update!" [disabled]="!f.valid" />
      <br /><br />

      <input type="button" value="delete!" (click)="Delete()" />
    </form>
  </div>
</div>
<br />
